@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Hanken+Grotesk:wght@500;700;800&display=swap');

$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

$Light-slate-blue-background: hsl(252, 100%, 67%);
$Light-royal-blue-background: hsl(241, 81%, 54%);
$Violet-blue-circle: hsla(256, 72%, 46%, 1);
$Persian-blue-circle: hsla(241, 72%, 46%, 0);

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Hanken Grotesk', sans-serif;
}
body{
    background-color: $Pale-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    box-shadow: rgba($color: #000000, $alpha: .24) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: $White;
}
.container{
    display: flex;
    justify-content: space-between;
    gap:1.2rem;

}

.result{
    display: flex;
    text-align: center;
    flex-direction: column;

    width: 50%;
    background:linear-gradient(
        to bottom,
        $Light-slate-blue-background,
        $Light-royal-blue-background
      );
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    
    h3{
        color:$Light-lavender;
        margin:1.2rem;
    }

    b{
        color: $White;
        margin-bottom: 1.2rem;
    }
}

.info{
    color: $Light-lavender;
}
.circle{
    width:150px;
    height:150px;
    align-self: center;
    border-radius: 50%;
    background:linear-gradient(
        to top,
        $Persian-blue-circle,
        $Violet-blue-circle
      ) ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;
      h1{
        color:$White;
        font-size: 5rem;
        font-weight: 800;
      }
      p{
        color:$Light-lavender
      }
}

.summary{
    width: 50%;
    padding: 1rem 2rem;
    display:flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    
    h3{
        font-weight: 800;
    }
}

.rows{
    display: flex;
    flex-direction: column;
    gap: .2rem;

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 1rem .5rem;
        
    }
}

.row:nth-child(1){
    background-color: hsla(0, 100%, 67%, 0.2);
    .badge{b{
        color:$Light-red;
    }
    }
}
.row:nth-child(2){
    background-color: hsla(0, 95%, 58%, 0.1);
    .badge{ b{  
        color:$Orangey-yellow;
        }
    }
}
.row:nth-child(3){
    background-color: hsla(216, 79%, 71%, 0.1);
    .badge{
        b{
        color:$Green-teal;
    }
    }
}
.row:nth-child(4){
    background-color: hsla(234, 85%, 45%, 0.2);
    .badge{
        color:$Cobalt-blue;
    }
}

button{
    padding: 1.2rem;
    background:linear-gradient(to left,
    $Light-slate-blue-background,
    $Light-royal-blue-background );
    color: $White;
    border: $Cobalt-blue;
    border-radius: 30px;
}

@media screen and (max-width: 650px) {
    body {
      align-items: flex-start;
      background-color: white;
    }
    .card {
      box-shadow: none;
    }
    .container {
      flex-direction: column;
    }
    .result {
      border-radius: 0 0 1rem 1rem;
      width: 100%;
    }
    .result{
      width: 250px;
    }
    .summary {
      width: 100%;
    }
  }